html {
  background-color: rgb(39, 35, 35);
}

container {
  display: grid;
  justify-self: center;
  align-self: center;
  height: 500px;
  width: 500px;
}

.boxes {
  border: 1px gray solid;
  height: auto;
  width: auto;
}

.clear {
  position: absolute;
  top: 1%;
  left: 40%;
  height: 50px;
  width: 100px;
  border: 2px gray solid;
  color: rgb(39, 35, 35);
  font-weight: 600;
  font-size: 20px;
}