html {
  background-color: rgb(39, 35, 35);
}

container {
  display: grid;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 150px;
}

.boxes {
  border: 1px gray solid;
  height: auto;
  width: auto;
}

.clear {
  position: absolute;
  top: 10%;
  left: 880px;
  height: 50px;
  width: 100px;
  margin: -20px;
  border: 2px gray solid;
  color: rgb(39, 35, 35);
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width:1300px) {
  container {
    height: 300px;
    width: 300px;
  }
}